body {
color: #dadada;
background-color: #635f7f;
}

.page {
position: relative;
top: 30px;
padding: 0 18px;
position: relative;
}

.boards_list {
width: 60%;
margin: auto;
font-size: 120%;
padding: 15px 15px;
border: 1px solid #aaaaaa;
}

.return {
padding: 0px 10px;
background-color: #222233;
height: 30px;
position: relative;
left: 0px;
display: inline-block;
text-align: center;
font-size: 250%;
vertical-align: middle;
line-height: 30px;
}

.navigation {
color: white;
float: left;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.pagination {
color: white;
float: right;
position: relative;
right: 20px;
top: 50%;
transform: translateY(-50%);
}

.active {
background-color: ffa8a8;
font-weight: bold;
}

.thread {

}

.counter {
font-weight: bold;
}

.post_counter {
color: #aaaaaa;
font-weight: bold;
}

.post_theme {
color: #ff6252;
font-weight: bold;
}

.author {
color: #cacafa;
font-weight: bold;
}

/* .pub_date {
font-weight: bold;
} */

.replies {
display: inline-block;
margin: 10px 10px;
font-size: small;
}

.original_post {
display: table;
background-color: #5a5676;
color: white;
padding: 10px 14px;
position: relative;
text-align: left;
border-radius: 6px;
box-shadow: 0px 0px 4px #3f3f3f;
position: relative;
z-index: 1;
}

.omitted {
color: #d3d3d3;
margin: 10px 0 10px 20px;
}

.button a:link, a:visited {
background-color: #444466;
color: white;
padding: 5px 5px;
border: 1px solid #aaaaaa;
text-shadow: none;
margin: 0 10px;
box-shadow: 0px 0px 3px #1f1f1f;
}

.button a:hover, a:active {
color: white;
border: 1px solid white;
box-shadow: 0px 0px 3px white;
}

.post_wrapper {
display: block;
padding: 5px 5px;
}

.indent {
float: left;
margin: 0 5px 0 0;
}

.reply {
display: table;
background-color: #484363;
border-radius: 6px;
color: white;
padding: 10px 14px;
position: relative;
text-align: left;
box-shadow: 0px 0px 4px #1f1f1f;
}

.file_block {
display: table;
}

.multiple_file_container {
display: table-cell;
float: left;
height: 230px;
width: 220px;
margin: 0 0 20px 0;
}

.single_file_info {
display: block;
margin: 0 0 12px 0;
color: #bfbfbf;
font-size: small;
overflow: auto;
}

.multiple_file_info {
display: block;
position: absolute;
display: block;
margin: 0 0 12px 0;
color: #bfbfbf;
font-size: small;
text-align: center;
width: 16em;
overflow: hidden;
white-space: nowrap;
}

.single_pic {
display: block;
float: left;
margin: 0 25px 5px 0;
}

.multiple_pic_wrapper {
position: relative;
top: 2em;
width: 100%;
height: 200px;
}

.multiple_pic {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.resized {
width: 200px;
height: 200px;
object-fit: contain;
-webkit-filter: drop-shadow(0px 0px 6px #151535);
}

.thumbnail {
-webkit-filter: drop-shadow(0px 0px 6px #151535);
}

.text {
color: #dadada;
}

.citation {
color: #b5dcb5;
}

.spoiler {
background-color: #282333;
color: #282333;
}

.spoiler:hover {
color: #dadada;
}

h1 {
color: #dadada;
text-align: center;
text-shadow: 0px 0px 10px #1f1f1f;
}

h2 {
font-size: small;
color: #ffa8a8;
font-weight: normal;
margin: 0 0 5px 0;
}

a:link, a:visited {
color: #eeeeee;
text-decoration: none;
background-color: none;
text-shadow: 0px 0px 2px #fc7d7d;
}

a:hover, a:active {
color: #ff9999;
background-color: transparent;
text-shadow: 0px 0px 2px white;
}

header {
display: block;
width: 100%;
height: 30px;
position: fixed;
left: 0px;
top: 0px;
background-color: rgba(45, 40, 70, 0.85);
z-index: 10;
}

footer {
padding: 30px 0;
text-align: center;
}

.form_wrapper {
display: flex;
justify-content: center;
}

form {
color: white;
display: inline-block;
margin: auto;
padding: 5px 5px;
}

.input_form {
}

.textinput {
display: block;
background-color: #484363;
border: none;
width: 100%;
margin: 3px 0 3px 0;
padding: 5px 5px;
box-shadow: 0px 0px 4px #1f1f1f;
min-width: 290px;
}

.textarea {
display: block;
background-color: #484363;
border: none;
width: 600px;
margin: 3px 0 3px 0;
padding: 5px 5px;
box-shadow: 0px 0px 4px #1f1f1f;
min-width: 300px;
}

::placeholder {
color: #c7c7c7;
}

input[type=file] {
position: absolute;
opacity: 0;
overflow: hidden;
z-index: -1;
}

.finput {
display: inline-block;
color: #dadada;
padding: 7px 7px;
position: relative;
top: 10px;
background-color: #484363;
}

.finput:hover {
background-color: #585373;
}

.form_submit {
display: inline-block;
position: relative;
bottom: 22px;
float: right;
color: #dadada;
background-color: #484363;
border: none;
padding: 7px 7px;
}

.form_submit:hover {
background-color: #585373;
}


hr {
color: #a1a1a1;
margin: 25px 0 16px 0;
}
