{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ board.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'neuron_engine/neutral.css' %}">
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
      <div class="navigation">
        <a href={% url 'main_page' %}><div class="return" >←</div></a>
        Доски: 
        {% for board in boards %}
          <a href={% url 'board' board.url %}>{{ board.name }}</a> |
        {% endfor %}
      </div>
      <div class="pagination">
        Страницы:
        {% for page in pagination %}
          {{ page|safe }}
        {% endfor %}
      </div>
    </header>
        
<div class="page">
  <h1>{{ board.name }}</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
    <button type="submit">Отправить</button>
  </form>       
      
{% for ops_with_files, omitted_counters, replies_sets, replies_to_op in threads %}
<!-- thread start -->    
<div class="thread">
  <hr>
  {% for op, files in ops_with_files.items %}
    <div class="original_post">
    <h2>{% if op.subject %}<span class="post_theme">{{ op.subject }}</span> {% endif %}<span class="author">{{ op.author }}</span> <span class="pub_date">{{ op.pub_date|date:"D, d E Y H:i:s" }}</span> <span class="counter">#{{ op.counter }}</span></h2>
    {% if files %}
      {% if files|length == 1 %}
        <div class="files">
        {% for file in files %}
          <div class="file"><a href="{{ file.upload.url }}"><img class="resized" src="{{ file.upload.url }}"></a></div>
        {% endfor %}
        </div>
        <div class="text">{{ op.text|linebreaks }}</div>
        {% else %}
          <div class="files">
          {% for file in files %}
            <div class="file_block"><a href="{{ file.upload.url }}"><img class="resized" src="{{ file.upload.url }}"></a></div>
          {% endfor %}
          </div>
          <div class="text">{{ op.text|linebreaks }}</div>
        {% endif %}
    {% else %}
      <div class="text">{{ op.text|linebreaks }}</div>
    {% endif %}
    </div>
      <div class="omitted">Пропущено постов: {{ omitted_counters }}
      <span class="button">
        <a href={% url 'thread' board.url op.counter %}>Перейти к треду</a>
        </span>
      {% if replies_to_op %}
        <div class="replies">
          Ответы: 
          {% for link, url in replies_to_op %}
            <a href="{{ url }}">{{ link }}</a> 
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  

{% for id, replies_with_files in replies_sets.items %}
    {% if replies_with_files %}
      {% for reply_with_files, replies_to_reply in replies_with_files %}
        {% for reply, files in reply_with_files.items %}
        <div class="post_wrapper">
          <div class="reply" id="{{ reply.counter }}">
            <h2>{% if reply.subject %}<span class="post_theme">{{ reply.subject }}</span> {% endif %}<span class="author">{{ reply.author }}</span> <span class="pub_date">{{ reply.pub_date|date:"D, d E Y H:i:s" }}</span> <span class="counter">#{{ reply.counter }}</span></h2>
            {% if files %}
              {% if files|length == 1 %}
                <div class="files">
                  {% for file in files %}
                    <div class="file"><a href="{{ file.upload.url }}"><img class="resized" src="{{ file.upload.url }}"></a></div>
                  {% endfor %}
                </div>
                <div class="text">{{ reply.text|linebreaks }}</div>
              {% else %}
                <div class="files">
                  {% for file in files %}
                    <div class="file_block"><a href="{{ file.upload.url }}"><img class="resized" src="{{ file.upload.url }}"></a></div>
                  {% endfor %}
                </div>
                <div class="text">{{ reply.text|linebreaks }}</div>
              {% endif %}
            {% else %}
              <div class="text">{{ reply.text|linebreaks }}</div>
            {% endif %}
            {% if replies_to_reply %}
              <div class="replies">
                Ответы: 
                {% for link, url in replies_to_reply %}
                  <a href="{{ url }}">{{ link }}</a> 
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
<!-- thread end -->
{% endfor %}
<hr>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
    <button type="submit">Отправить</button>
  </form>
    <footer>
      Сделано на движке neuron
    </footer>
</div>
        
  </body>
</html>
