{# included in board.html, thread.html #}

<div class="form_wrapper">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="input_form" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <div style="margin: 0 12px 0 0">
            {{ form.author }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="margin: 0 12px 0 0">
            {{ form.subject }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.text }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.upload }}
          <label for="id_upload" class="finput">Выбрать файл</label>
        </td>
      </tr>
    </table>
    <button class="form_submit" type="submit">Отправить</button>
  </form>
</div>
