{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if original_post.subject %}
        {{ board.name }} — {{ original_post.subject }}
      {% else %}
        {{ board.name }} — тред
      {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'neuron_engine/neutral.css' %}">
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <div class="navigation">
        <a href={% url 'board' board.url %}><div class="return" >←</div></a>
          <a href={% url 'main_page' %}>Главная страница</a> |
          Доски:
          {% for board in boards %}
            <a href={% url 'board' board.url %}>{{ board.name }}</a> |
          {% endfor %}
      </div>
    </header>
    <div class="page">
      <h1>
        {% if original_post.subject %}
          {{ board.name }} — {{ original_post.subject }}
        {% else %}
          {{ board.name }} — тред
        {% endif %}
      </h1>
      {% include 'neuron_engine/form.html' %}
      <hr>
<!-- thread start -->
      <div class="thread">
        {% for op, files in op_with_files.items %}
          <div class="original_post">
            <h2>
              {% if op.subject %}
                <span class="post_theme">{{ op.subject }}</span>
              {% endif %}
              <span class="author">{{ op.author }}</span>
              <span class="pub_date">{{ op.pub_date|date:"D, d E Y H:i:s" }}</span>
              <span class="counter">#{{ op.counter }}</span>
            </h2>
            {% include 'neuron_engine/op.html' %}
          </div>
        {% endfor %}
        {% if replies_sets %}
          {% for reply_with_files, replies_to_reply, inthread_counter in replies_sets %}
              {% for reply, files in reply_with_files.items %}
              <div class="post_wrapper">
                <div class="reply" id="{{ reply.counter }}">
                  <h2>
                      <span class="post_counter">{{ inthread_counter }}</span>
                    {% if reply.subject %}
                      <span class="post_theme">{{ reply.subject }}</span>
                    {% endif %}
                    <span class="author">{{ reply.author }}</span>
                    <span class="pub_date">{{ reply.pub_date|date:"D, d E Y H:i:s" }}</span>
                    <span class="counter">#{{ reply.counter }}</span>
                    <a href="#{{ reply.counter }}">[Ссылка]</a>
                  </h2>
                  {% include 'neuron_engine/post.html' %}
                </div>
              </div>
              {% endfor %}
          {% endfor %}
        {% endif %}
<!-- thread end -->
<hr>
  {% include 'neuron_engine/form.html' %}
    <footer>
      Сделано на движке neuron
    </footer>

</div>
</body>
</html>
