{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ board.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/neutral.css' %}">
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
      <div class="navigation">
        [<a href={% url 'main_page' %}><div class="return" >←</div></a>]
        Доски:
        {% for board in boards %}
          [<a href={% url 'board' board.url %}>{{ board.name }}</a>]
        {% endfor %}
      </div>
      <div class="pagination">
        Страницы:
        {% for page in pagination %}
          {{ page|safe }}
        {% endfor %}
      </div>
    </header>
<div class="page">
  <h1>{{ board.name }}</h1>
  <div class="form_wrapper" id="upper_form">
    {% include 'form.html' %}
  </div>
<br>
{% for file_counter, ops_with_files, omitted_counters, replies_sets, replies_to_post in threads %}
<!-- thread start -->
<div class="thread">
  {% for post, files in ops_with_files.items %}
    <div class="post_wrapper">
      <div class="original_post">
      <div class="post_header">
        {% if post.subject %}
          <span class="post_theme">{{ post.subject }}</span>
        {% endif %}
        <span class="author">{{ post.author }}</span>
        <span class="pub_date">{{ post.pub_date|date:"D, d E Y H:i:s" }}</span>
        <span class="counter">#{{ post.counter }}</span>
        <a href={% url 'thread' board.url post.counter %}>[ Перейти к треду ]</a>
      </div>
      {% include 'post.html' %}
      </div>
    </div>
      {% if omitted_counters > 0 %}
        <div class="omitted">
          Пропущено постов: {{ omitted_counters }}
        </div>
      {% endif %}
  {% endfor %}

  {% if replies_sets %}
    {% for inthread_counter, file_counter, reply_with_files, replies_to_post in replies_sets %}
      {% for post, files in reply_with_files.items %}
        <div class="post_wrapper">
          <div class="indent">...</div>
          <div class="reply" id="{{ post.counter }}">
            <div class="post_header">
              <span class="post_counter">{{ inthread_counter }}</span>
              {% if post.subject %}
                <span class="post_theme">{{ post.subject }}</span>
              {% endif %}
              <span class="author">{{ post.author }}</span>
              <span class="pub_date">{{ post.pub_date|date:"D, d E Y H:i:s" }}</span>
              <span class="counter">#{{ post.counter }}</span>
            </div>
            {% include 'post.html' %}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
<!-- thread end -->
<br>
{% endfor %}
<br>
  <div class="form_wrapper" id="lower_form">
    {% include 'form.html' %}
  </div>
    <footer>
      Используется движок neuron
    </footer>
    {% include 'scripts.html' %}
</div>

  </body>
</html>
