{# included in board.html, thread.html #}

{% if files %}
  {% if file_counter == 1 %}
    {% for file, short_name, full_name, size in files %}
      {% if file.thumbnail %}
        <div class="single_file_info">
          {{ size|filesizeformat }},
          {{ full_name }}
        </div>
        <div class="single_pic">
          <a href="{{ file.upload.url }}">
            <img class="thumbnail" src="{{ file.thumbnail.url }}">
          </a>
        </div>
      {% else %}
        <div class="single_file_info">
          {{ size|filesizeformat }},
          {{ full_name }}
        </div>
        <div class="single_pic">
          <div class="no_thumbnail">
            <a href="{{ file.upload.url }}">
              Нет уменьшенной копии
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="text">{{ post.text|linebreaksbr }}</div>
  {% else %}
    <div class="file_block">
      {% for file, short_name, full_name, size in files %}
        {% if file.thumbnail %}
          <div class="multiple_file_container">
            <div class="multiple_file_info"
              onmouseover="showFullName(this, '{{ full_name }}')" 
              onmouseout="showShortName(this, '{{ size|filesizeformat }}', '{{ short_name }}')">
              {{ size|filesizeformat }},
              {{ short_name }}
            </div>
            <div class="full_filename" style="overflow:hidden;"></div>
            <div class="multiple_pic_wrapper">
              <div class="multiple_pic">
                <a href="{{ file.upload.url }}">
                  <img class="thumbnail" src="{{ file.thumbnail.url }}">
                </a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="multiple_file_container">
            <div class="multiple_file_info"
              onmouseover="showFullName(this, '{{ full_name }}')" 
              onmouseout="showShortName(this, '{{ size|filesizeformat }}', '{{ short_name }}')">
              {{ size|filesizeformat }},
              {{ short_name }}
            </div>
            <div class="multiple_pic_wrapper">
              <div class="multiple_pic">
                <div class="no_thumbnail">
                  <a href="{{ file.upload.url }}">
                    Нет уменьшенной копии
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="text">{{ post.text|linebreaksbr }}</div>
  {% endif %}
{% else %}
  <div class="text">{{ post.text|linebreaksbr }}</div>
{% endif %}
{% if replies_to_post|length == 1 %}
  <br>
  <div class="replies">
    Ответ:
    {% autoescape off %}
    {{ replies_to_post|join:", " }}
    {% endautoescape %}
  </div>
{% elif replies_to_post|length > 1 %}
  <br>
  <div class="replies">
    Ответы:
    {% autoescape off %}
    {{ replies_to_post|join:", " }}
    {% endautoescape %}
  </div>
{% endif %}
