{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if original_post.subject %}
        {{ board.name }} — {{ original_post.subject }}
      {% else %}
        {{ board.name }} — тред
      {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'neutral.css' %}">
    <meta charset="UTF-8">
  </head>
  <body>
    <script src="{% static 'jquery-3.4.0.min.js' %}"></script>
    <header>
      <div class="navigation">
        <a href={% url 'board' board.url %}><div class="return" >←</div></a>
          <a href={% url 'main_page' %}>Главная страница</a> |
          Доски:
          {% for board in boards %}
            <a href={% url 'board' board.url %}>{{ board.name }}</a> |
          {% endfor %}
      </div>
    </header>
    <div class="page">
      <h1>
        {% if original_post.subject %}
          {{ board.name }} — {{ original_post.subject }}
        {% else %}
          {{ board.name }} — тред
        {% endif %}
      </h1>
      {% include 'form.html' %}
      <br>
<!-- thread start -->
      <div class="thread">
        {% for post, files in op_with_files.items %}
          <div class="post_wrapper">
            <div class="original_post">
              <div class="post_header">
                {% if post.subject %}
                  <span class="post_theme">{{ post.subject }}</span>
                {% endif %}
                <span class="author">{{ post.author }}</span>
                <span class="pub_date">{{ post.pub_date|date:"D, d E Y H:i:s" }}</span>
                <span class="counter">#{{ post.counter }}</span>
              </div>
              {% include 'post.html' %}
            </div>
          </div>
        {% endfor %}
        {% if replies_sets %}
          {% for file_counter, reply_with_files, replies_to_post, inthread_counter in replies_sets %}
              {% for post, files in reply_with_files.items %}
              <div class="post_wrapper">
                <div class="indent">...</div>
                <div class="reply" id="{{ post.counter }}">
                  <div class="post_header">
                      <span class="post_counter">{{ inthread_counter }}</span>
                    {% if post.subject %}
                      <span class="post_theme">{{ post.subject }}</span>
                    {% endif %}
                    <span class="author">{{ post.author }}</span>
                    <span class="pub_date">{{ post.pub_date|date:"D, d E Y H:i:s" }}</span>
                    <span class="counter">#{{ post.counter }}</span>
                    <a href="#{{ post.counter }}">[Ссылка]</a>
                  </div>
                  {% include 'post.html' %}
                </div>
              </div>
              {% endfor %}
          {% endfor %}
        {% endif %}
<!-- thread end -->
</div>
<br>
    <footer>
      Используется движок neuron
    </footer>
</div>
</body>
</html>
