@import url("webfonts/robotoslab.css");
@import url("webfonts/hack.css");

body {
font-family: 'Roboto Slab', serif;
font-size: 100%;
color: #dadada;
background-color: #635f7f;
width: auto;
}

.page {
position: relative;
top: 30px;
padding: 0 18px 0 18px;
position: relative;
width: inherit;
max-width: inherit;
}

.boards_list {
width: 60%;
margin: auto;
font-size: 120%;
padding: 15px 15px;
border: 1px solid #aaaaaa;
}

.return {
padding: 0px 10px;
position: relative;
left: 0px;
display: inline-block;
text-align: center;
}

.navigation {
float: left;
}

.pagination {
float: right;
position: relative;
right: 10px;
}

.active {
background-color: ffa8a8;
font-weight: bold;
}

.thread {
display: grid;
width: inherit;
max-width: inherit;
}

.post_header {
display: block;
font-size: 80%;
color: #ffa8a8;
font-weight: normal;
margin: 0 0 5px 0;
}

.counter {
display: inline-block;
font-weight: bold;
}

.post_counter {
display: inline-block;
color: #aaaaaa;
font-weight: bold;
}

.post_theme {
display: inline-block;
color: #ff6252;
font-weight: bold;
}

.author {
display: inline-block;
color: #cacafa;
font-weight: bold;
}

.pub_date {
display: inline-block;
}

.to_thread {
display: inline-block;
}

.replies {
color: #dadada;
display: inline-block;
margin: 12px 10px 0 10px;
font-size: 80%;
}

.original_post {
display: grid;
justify-content: start;
background-color: #5a5676;
color: white;
padding: 16px 14px;
position: relative;
text-align: left;
border-radius: 6px;
box-shadow: 0px 0px 4px #3f3f3f;
position: relative;
z-index: 1;
max-width: 100%;
width: fit-content(100%);
}

.omitted {
color: #d3d3d3;
margin: 10px 0 10px 20px;
}

.button a:link, a:visited {
background-color: #444466;
color: white;
padding: 5px 5px;
border: 1px solid #aaaaaa;
text-shadow: none;
margin: 0 10px;
box-shadow: 0px 0px 3px #1f1f1f;
}

.button a:hover, a:active {
color: white;
border: 1px solid white;
box-shadow: 0px 0px 3px white;
}

.post_wrapper {
display: grid;
align-items: start;
grid-template-columns: max-content fit-content(100%);
grid-auto-columns: max-content;
padding: 5px 5px;
width: inherit;
max-width: inherit;
}

.indent {
display: block;
top: 1em;
float: left;
margin: 0 5px 0 0;
}

.reply {
display: grid;
justify-content: start;
background-color: #484363;
border-radius: 6px;
color: white;
padding: 16px 14px;
position: relative;
text-align: left;
box-shadow: 0px 0px 4px #1f1f1f;
max-width: inherit;
width: fit-content(100%);
max-width: inherit;
}

.post_content_wrapper_single {
display: grid;
grid-template-columns: auto auto;
align-items: start;
justify-content: start;
}

.post_content_wrapper_single {
display: grid;
grid-template-rows: auto auto;
align-items: start;
justify-content: start;
}

.file_block {
display: table;
}

.multiple_file_container {
display: table-cell;
float: left;
height: 230px;
width: 220px;
margin: 0 0 20px 0;
}

.single_file_info {
display: block;
margin: 0 0 12px 0;
color: #bfbfbf;
font-size: 12px;
overflow: auto;
}

.multiple_file_info {
display: block;
position: absolute;
display: block;
padding: 5px 8px;
color: #bfbfbf;
font-size: 80%;
text-align: center;
width: 16em;
overflow: hidden;
white-space: nowrap;
}

.single_pic {
display: block;
float: left;
margin: 0 25px 5px 0;
}

.multiple_pic_wrapper {
position: relative;
top: 2em;
width: 100%;
height: 200px;
}

.multiple_pic {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.thumbnail {
-webkit-filter: drop-shadow(0px 0px 6px #151535);
}

.thumbnail:hover {
-webkit-filter: drop-shadow(0px 0px 6px #959595);
}

.no_thumbnail {
display: flex;
width: 199px;
height: 199px;
background-color: transparent;
border: 1px dashed #adadad;
text-align: center;
align-items: center;
}

.text {
color: #dadada;
display: inline-block;
font-size: 105%;
width: 100%;
max-width: 100%;
overflow-wrap: break-word;
word-wrap: break-word;
word-break: break-word;
/*white-space: pre-wrap;
word-break: break-all;
hyphens: auto;*/
}

.citation {
color: #b5dcb5;
width: inherit;
white-space: inherit;
word-break: inherit;
}

.spoiler {
background-color: #282333;
color: #282333;
}

.spoiler:hover {
color: #dadada;
}

.mono {
font-family: 'Hack', monospace;
font-size: 95%;
}

.code {
display: inline-block;
font-family: 'Hack', monospace;
font-size: 95%;
border-collapse: collapse;
margin: 0 0 0 0;
background-color: #181323;
width: inherit;
overflow: auto;
}

.code li {
padding: 0 7px;
width: inherit;
}

.code li:nth-child(odd) {
background-color: #383353;
}

.code li:nth-child(even) {
background-color: #282343;
}

.code_string {
display: inline-block;
}

pre {
padding: 0 5px;
margin: 0 0 0 0;
width: inherit;
}

h1 {
color: #dadada;
text-align: center;
text-shadow: 0px 0px 10px #1f1f1f;
}

a:link, a:visited {
color: #eeeeee;
text-decoration: none;
background-color: none;
text-shadow: 0px 0px 2px #fc7d7d;
}

a:hover, a:active {
color: #ff9999;
background-color: transparent;
text-shadow: 0px 0px 2px white;
}

header {
display: block;
width: 100%;
height: auto;
position: fixed;
left: 0px;
top: 0px;
background-color: rgba(45, 40, 70, 0.85);
z-index: 10;
}

footer {
padding: 30px 0;
text-align: center;
}

.form_wrapper {
display: flex;
/*align-items: center;*/
justify-content: center;
}

.form_placeholder {
display: block;
text-align: center;
padding: 5px 5px;
}

form {
display: block;
padding: 5px 5px;
}

.input_form {
}

.textinput {
display: block;
color: #dadada;
background-color: #484363;
border: none;
width: 100%;
margin: 3px 0 3px 0;
padding: 5px 5px;
box-shadow: 0px 0px 4px #1f1f1f;
min-width: 290px;
}

.textarea {
display: block;
color: #dadada;
background-color: #484363;
border: none;
width: 600px;
margin: 3px 0 3px 0;
padding: 5px 5px;
box-shadow: 0px 0px 4px #1f1f1f;
min-width: 300px;
}

::placeholder {
color: #c7c7c7;
}

input[type=file] {
/*position: absolute;
opacity: 0;
overflow: hidden;
z-index: -1;*/
}

.finput {
display: none;
color: #dadada;
padding: 7px 7px;
position: relative;
top: 10px;
background-color: #484363;
}

.finput:hover {
background-color: #585373;
}

.form_submit {
display: inline-block;
position: relative;
bottom: 22px;
float: right;
color: #dadada;
background-color: #484363;
border: none;
padding: 7px 7px;
}

.form_submit:hover {
background-color: #585373;
}


.form_action {
display: block;
}

hr {
color: #a1a1a1;
margin: 25px 0 16px 0;
}

p {
display: inline-block;
padding: 0 0;
margin: 8px 0 8px 0;
width: inherit;
white-space: pre-wrap;
word-break: break-all;
}
